mixin navbar(options)

    nav.navbar.navbar-marketing.navbar-expand-lg(class=options.navbarBg, class=options.navbarStyle, class=options.navbarPosition)
        div(class=options.navbarContainer)
            a.navbar-brand(href='landing-app-mobile.html', class=options.navbarBrandColor)
                img(src="../../../assets/img/queue-fin-03.png" alt="queue pay logo")
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                i(data-feather='menu', style="color: white;")
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.mr-lg-5
                    li.nav-item
                        a.nav-link(href='page-company-about.html' style="color: white")
                            | Try the Demo 
                    li.nav-item
                        a.nav-link(href='page-company-pricing.html' style="color: white")
                            | Pricing
                    li.nav-item
                        a.nav-link(href='' style="color: white")
                            | Contact Us
                    li.nav-item
                        a.nav-link(href='' style="color: white")
                            | Login            
                    
                a(href="https://shop.startbootstrap.com/sb-ui-kit-pro", class=options.navbarBtnColor, style="border: solid;").btn.rounded-pill.px-4.ml-lg-4
                    | Sign Up
                    i.fas.fa-arrow-right.ml-1